@font-face {
  font-family: Helvetica-Light;
  src:  url('helvetica-neue-light.woff2') format('woff2'),
        url('helvetica-neue-light.woff') format('woff');
  font-weight: 300;
}
@font-face {
  font-family: Helvetica-Nue;
  src:  url('helvetica-neue.woff2') format('woff2'),
        url('helvetica-neue.woff') format('woff');
  font-weight: 400;
}
@font-face {
  font-family: Helvetica-Medium;
  src:  url('helveticaneue-medium.woff2') format('woff2'),
        url('helveticaneue-medium.woff') format('woff');
  font-weight: 500;
}
@font-face {
  font-family: Helvetica-Bold;
  src:  url('helvetica-neue-bold.woff2') format('woff2'),
        url('helvetica-neue-bold.woff') format('woff');
  font-weight: 700;
}
